/*
    320px — 480px: dispositivos móveis
    481px — 768px: iPads, tablets
    769px — 1024px: telas pequenas, laptops
    1025px — 1200px: desktops, telas grandes
    1201px e acima: telas muito grandes, TVs
*/

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    header { 
        width: calc(100% - 16px);
        margin: 8px 8px 0;
    }

    .bannerTitle {
        margin: 8px;
        padding: 16px;
        bottom: 104px;
        position: absolute;
        border-radius: 30px;
        background-color: rgba(220, 230, 255, 0.7);
        border: 1px solid rgba(0, 0, 50, 0.1);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    .bannerTitle h1 {
        font-size: 2em;
    }
    .bannerTitle h3 {
        font-size: 1.25em;
    }

    .banner img {
        left: 0;
        right: 0;
        margin: auto;
    }

    .banner .seeMore span {
        display: none;
    }
}

@media (max-width: 480px) {

}