@media (max-width: 1024px) {

    section .titleBackground {
        font-size: 5rem;
    }

    section .title h2 {
        font-size: 2.5rem;
    }

    section .content p {
        font-size: 0.9rem;
    }
}


@media (max-width: 900px) {

    #myEmoji {
        display: none;
    }

    section {
        padding: 40px;
    }
}

@media (max-width: 768px) {

    header { 
        padding: 8px;
    }

    main {
        display: flex;
        align-items: end;
        height: calc(100vh - 68px);
        margin-top: 68px;
    }

    section .titleBackground {
        font-size: 4rem;
        transform: translate(-5px, -10px);
    }

    section .title h2 {
        font-size: 2rem;
    }

    section .content p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {

    section {
        padding: 24px 16px;
    }

    section .titleBackground {
        font-size: 3rem;
    }

    section .title h2 {
        font-size: 1.5rem;
    }

    section .content p {
        font-size: 1rem;
    }

    .projectTitle {
        font-size: 1.5rem;
    }
}